---
image:
  repository: velero/velero
  tag: v1.15.0
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.10.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
kubectl:
  image:
    repository: docker.io/bitnamilegacy/kubectl
configuration:
   # Enable CSI snapshot support
  features: EnableCSI
  defaultVolumesToFsBackup: false

# Disable VolumeSnapshotLocation CRD. It is not needed for CSI integration
snapshotsEnabled: false
deployNodeAgent: true
schedules:
  daily:
    disabled: false
    template:
      includedNamespaces:
        - kassio
cleanUpCRDs: false
nodeSelector:
  kassio/backup: "true"
{{- if eq .Values.components.backup.platform "arm" }}
upgradeCRDs: false # Otherwise, it fails with arm
{{- end }}