---
image:
  repository: koenkk/zigbee2mqtt
  tag: 2.2.1
ingress:
  enabled: true
  ingressClassName: traefik
statefulset:
  storage:
    enabled: true
  volumeMounts:
    - name: usb
      mountPath: /dev/ttyACM0
  nodeSelector:
    kassio/zigbee: "true"
service:
  type: ClusterIP
zigbee2mqtt:
  timezone: Europe/Madrid
  serial:
    port: /dev/ttyACM0
    adapter: zstack
  homeassistant:
    discovery_topic: "home-assistant/zigbee"
    status_topic: "home-assistant/status"
  mqtt:
    server: "mqtt://kassio-broker"
    base_topic: zigbee
    user: zigbee
