---
image: 
  repository: koenkk/zigbee2mqtt
  tag: 2.1.0
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
securityContext:
  privileged: true
persistence:
  data:
    enabled: true
    type: pvc    
    accessMode: ReadWriteOnce
    mountPath: /data
  usb:
    enabled: true
    type: hostPath    
    mountPath: /dev/ttyACM0
config:
  serial:
    port: /dev/ttyACM0
    adapter: zstack
  homeassistant:
    discovery_prefix: home-assistant
    status_topic: home-assistant/status
  mqtt:
    topic: zigbee
    server: "mqtt://kassio-broker"
    user: zigbee    
  frontend:
    port: 8080
  experimental:
    new_api: true
  device_options:
    legacy: false # https://github.com/Koenkk/zigbee2mqtt/issues/7293#issuecomment-830848563
nodeSelector:
  kassio/zigbee: "true"
