---
image:
  repository: koenkk/zigbee2mqtt
  tag: 2.2.1
ingress:
  enabled: true
  ingressClassName: traefik
statefulset:
  storage:
    enabled: true  
  nodeSelector:
    kassio/zigbee: "true"
service:
  type: ClusterIP
zigbee2mqtt:
  timezone: Europe/Madrid  
  homeassistant:
    discovery_topic: "home-assistant/zigbee"
    status_topic: "home-assistant/status"
  mqtt:
    server: "mqtt://kassio-broker"
    base_topic: zigbee
    user: zigbee
