---
image:
  repository: nodered/node-red
  tag: 3.0.2  
hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
persistence:
  data:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /data
podAnnotations:
  backup.velero.io/backup-volumes: data
nodeSelector:
  kassio/engine: "true"