---
image:
  repository: nodered/node-red
  tag: 4.0.9
hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
ingress:
  main:
    enabled: true
    ingressClassName: traefik
persistence:
  data:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /data
securityContext: # Needed to fix error on writing with longhorn
  runAsUser: 0
nodeSelector:
  kassio/engine: "true"