---
image:
  repository: zwavejs/zwave-js-ui
  tag: 10.3.0
ingress:
  main:
    enabled: true
    ingressClassName: traefik
service:
  main:
    ports:
      websocket:
        enabled: true # Needed for integration with Home Assistant
securityContext:
  privileged: true
persistence:
  config:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /usr/src/app/store
  usb:
    enabled: true
    type: hostPath
    mountPath: /dev/ttyACM0
nodeSelector:
  kassio/zwave: "true"