---
global:
  security:
    allowInsecureImages: true
architecture: standalone
auth:
  database: kassio-db
  username: kassio
primary:
  persistence:
    enabled: true
  nodeSelector:
    kassio/db: "true"
{{- if eq .Values.components.db.platform "arm" }}
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
image:
  repository: arm64v8/mariadb
  tag: 10.5.12
{{- else }}
image:
  repository: bitnamilegacy/mariadb
  tag: 12.0.2
{{- end -}}