---
architecture: standalone
authEnabled: true
database: home_assistant
user: 
  name: home-assistant
persistence:
  enabled: true
  storageClass: local-path
influxdb:
  nodeSelector:
    kassio/db: "true"
{{- if eq .Values.components.db.platform "arm" -}}
  securityContext:
    enabled: false
  extraEnvVars:
    - name: INFLUXDB_HTTP_AUTH_ENABLED
      value: "false"
image:
  repository: arm64v8/influxdb
  tag: 1.8
{{- end -}}