---
image:
  repository: bitnami/phpmyadmin
  tag: 5.2.2-debian-12-r5
db:
  host: kassio-db-frontend
  port: 3306
ingress:
  enabled: true
  ingressClassName: traefik
nodeSelector:
  kassio/db: "true"