---
image:
  repository: ghcr.io/linuxserver/mysql-workbench
  tag: 8.0.36
persistence:
  config:
    enabled: true
    mountPath: "/config"
ingress:
  main:
    enabled: true
    integrations:
      traefik:
        enabled: false
    annotations:
      kubernetes.io/ingress.class: traefik
nodeSelector:
  kassio/db: "true"