image:
  repository: quay.io/go-skynet/local-ai
  tag: latest-aio-cpu

ingress:
  enabled: true
  className: traefik
  
persistence:
  models: 
    enabled: true
    accessModes:
      - ReadWriteOnce    
  output:
    enabled: true
    accessModes:
      - ReadWriteOnce

nodeSelector:
  kassio/llm: "true"