---
image:
  repository: ghcr.io/home-assistant/home-assistant
  tag: 2023.8.2
hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
persistence:
  config:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /config
podAnnotations:
  backup.velero.io/backup-volumes: config
nodeSelector:
  kassio/frontend: "true"