---
image:
  repository: ghcr.io/home-assistant/home-assistant
  tag: 2025.8.1
hostNetwork: true
service:
  main:
    enabled: true
    type: ClusterIP
dnsPolicy: ClusterFirstWithHostNet
ingress:
  main:
    enabled: true
    ingressClassName: traefik
persistence:
  config:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /config
nodeSelector:
  kassio/frontend: "true"