---
image:
  repository: rhasspy/wyoming-whisper
  tag: 2.5.0
persistence:
  config:
    enabled: true
    type: pvc    
    accessMode: ReadWriteOnce
    mountPath: /data  
nodeSelector:
  kassio/voice: "true"