---
image:
  repository: rhasspy/wyoming-piper
  tag: 1.6.3
persistence:
  config:
    enabled: true
    type: pvc    
    accessMode: ReadWriteOnce
    mountPath: /data  
nodeSelector:
  kassio/voice: "true"