---
image:
  repository: k8s.gcr.io/sig-storage/nfs-provisioner
  tag: v3.0.0
storageClass:
  name: nfs-path
  mountOptions:
    - nfsvers=4
persistence:
  enabled: true
  storageClass: local-path
  accessMode: ReadWriteOnce
nodeSelector:
  kassio/storage: "true"