---
image:
  repository: quay.io/minio/minio
  tag: RELEASE.2024-01-11T07-46-16Z
buckets:
  - name: kassio-s3
    policy: public
  - name: kassio-backup
    policy: public
persistence:
  enabled: true
  accessMode: ReadWriteOnce
mode: standalone
replicas: 1
resources:
  requests:
    memory: 1Gi
ingress:
  enabled: true
  path: /
  annotations:
    kubernetes.io/ingress.class: traefik
consoleIngress:
  enabled: true
  path: /
  annotations:
    kubernetes.io/ingress.class: traefik
nodeSelector:
  kassio/storage: "true"